.header {
  background-image: url(../assets/img/award/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .logo-digital {
    width: 124px;
    height: 32px;
    display: block;
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;

    &__list {
      display: inline-flex;
      background: rgba(16, 17, 13, 0.8);
      border-radius: 600px;
      padding: 8px 20px;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-transform: lowercase;
      color: var(--white-color);
    }
  }

  &__holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 205px;
  }

  &__title {
    font-family: NeutralFace;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--color-gray3);
    max-width: 640px;
  }

}

.section__title {
  font-family: NeutralFace;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: var(--white-color);

  text-transform: uppercase;
}

.instruction {
  padding: 200px 0 216px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    background: var(--red-color);
    border-radius: 600px;
    padding: 10px 20px 8px;
    margin-top: 24px;
  }

  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

    &__item {
      width: 265px;
      height: 265px;
      border: 2px solid var(--green-color);
      border-radius: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
    }

    &__number {
      font-family: NeutralFace;
      font-weight: 400;
      font-size: 50px;
      line-height: 100%;
      text-align: center;
      color: var(--green-color);
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: var(--green-color);
    }
  }

  .arrow-right {
    width: 44px;
    height: 28px;
    display: block;
  }
}

.nominations {
  padding-bottom: 200px;

  &-block {
    padding-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      max-width: 576px;
      display: flex;
      margin-bottom: 120px;

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    &__img {
      img {
        max-width: 150px;
        min-width: 150px;
        max-height: 150px;
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      margin-left: 24px;
    }

    &__title {
      font-family: NeutralFace;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      color: var(--white-color);
      margin-bottom: 6px;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-gray3);
      margin-bottom: 30px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--color-gray3);
    }
  }
}

.application {
  padding-bottom: 80px;

  &__holder {
    position: relative;

    &::before {
      content: "";
      background-image: url(../assets/img/index/flower.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 840px;
      height: 600px;
      position: absolute;
      right: -5%;
      top: 15%;
      mix-blend-mode: lighten;
      transform: rotate(-20deg);
    }
  }

  &__title {
    font-family: NeutralFace;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .chevron-up {
    max-width: 18px;
    max-height: 18px;
    position: absolute;
    right: 16px;
    top: 13px;
    transition: var(--base-transition);
  }

  &__input {
    border: 1px solid var(--color-gray3);
    border-radius: 4px;
    background: var(--main-color);
    outline: none;
    padding: 12px 14px;
    margin-bottom: 32px;
    width: 528px;
    height: 44px;

    &.selecting-item {
      cursor: pointer;
    }

    &-wrap {
      position: relative;
    }

    &.active~.application__list {
      display: block;
    }

    &.active~.chevron-up {
      transform: rotate(180deg);
      pointer-events: none;
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 41px;
    background: var(--main-color);
    width: 100%;
    left: 0;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid var(--color-gray3);
    z-index: 5;
    width: 528px;
  }

  &__item {
    padding: 12px 14px;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-gray3);
    border-bottom: 1px solid var(--color-gray3);
    cursor: pointer;
    transition: var(--base-transition);
    height: 44px;

    &:hover {
      background: var(--green-color);
      color: var(--white-color);
    }

    &:active {
      background: var(--green-color);
      color: var(--white-color);
    }
  }

  .privacy-policy__text,
  .privacy-policy__link {
    font-size: 14px;
    line-height: 125%;
    color: var(--color-gray3);
  }

  .privacy-policy__link {
    border-bottom: 1px solid var(--color-gray3);
  }

  .pristine-error.text-help {
    font-size: 12px;
    line-height: 14px;
    color: var(--red-color);
    margin-top: 4px;
    position: absolute;
    top: 45px;
    left: 0;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &-wrap {
      position: relative;
    }
  }

  &__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox+label::after {
    content: "";
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    border: 1px solid var(--color-gray3);
    border-radius: 2px;
    display: flex;
    order: -1;
    margin-right: 12px;
  }

  &__checkbox:checked+label::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.455078 6.47191L3.95158 9.5455L9.54599 0.45459' stroke='black'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: var(--red-color);
    border-color: var(--red-color);
    display: flex;
  }

  &__btn {
    width: 100%;
    margin-top: 40px;
  }

  .form-ticket {
    max-width: 528px;
  }
}

@media screen and (max-width: 1349px) {
  .instruction {
    svg.icon.arrow-right {
      display: none;
    }

    &-block {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      max-width: 590px;

      &__item:nth-child(4n+1) {
        margin-right: 60px;
      }

      &__item:nth-child(-n+3) {
        margin-bottom: 80px;
      }
    }
  }

  .nominations {
    &-block {
      &__item {
        max-width: 462px;
      }
    }
  }

  .application {
    &__holder {
      &::before {
        right: -24%;
        top: 18%;
      }
    }
  }

}

@media screen and (max-width: 1023px) {
  .instruction {
    padding: 180px 0;

    &-block {
      padding-top: 80px;
    }
  }

  .nominations {
    padding-bottom: 180px;

    &-block {
      &__item {
        max-width: unset;
        margin-bottom: 42px;

        &:nth-last-child(-n+2) {
          margin-bottom: 42px;
        }
      }
    }
  }

  .application {
    &__holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &::before {
        background-image: none;
      }
    }

    .form-ticket {
      width: 542px;
      max-width: unset;
    }

    &__box {
      width: 100%;
    }

    &__input,
    &__list {
      width: 100%;
    }

    &__title {
      margin-bottom: 32px;
    }

  }
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
  }

  .instruction {
    padding: 120px 0;

    &-block {
      padding-top: 56px;

      &__item {
        width: 210px;
        height: 210px;
        padding: 0 14px;

        &:nth-child(4n+1) {
          margin-right: 20px;
        }

        &:nth-child(-n+3) {
          margin-bottom: 30px;
        }
      }

      &__number {
        font-size: 34px;
        line-height: 100%;
      }

      &__text {
        font-size: 14px;
        line-height: 125%;
      }
    }

    &__link {
      margin-top: 32px;
    }
  }

  .nominations {
    padding-bottom: 120px;

    &-block {
      padding-top: 56px;

      &__img {
        img {
          max-width: 70px;
          min-width: 70px;
          max-height: 70px;
        }
      }

      &__title {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 8px;
      }

      &__subtitle {
        display: none;
      }

      &__text {
        font-size: 13px;
        line-height: 18px;
      }

      &__box {
        margin-left: 16px;
      }

      &__item {
        margin-bottom: 40px;
        align-items: center;
      }
    }
  }

  .application {
    padding-bottom: 50px;

    &__title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 38px;
    }

    .form-ticket {
      width: 100%;
      max-width: unset;
    }

    &__input {
      height: 38px;
      font-size: 14px;
      line-height: 125%;
      margin-bottom: 24px;
    }

    .chevron-up {
      max-width: 15px;
      max-height: 15px;
      right: 10px;
      top: 12px;
    }

    &__list {
      top: 36px;
      width: 100%;
    }

    &__item {
      padding: 8px 14px;
      font-size: 14px;
      line-height: 125%;
      transition: var(--base-transition);
      height: 38px;
    }

    &__btn {
      width: 100%;
      margin-top: 40px;
      height: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pristine-error.text-help {
      top: 35px;
    }
  }
}

@media screen and (max-width: 479px) {
  .instruction {
    &-block {

      &__item:nth-child(-n+3) {
        margin-bottom: 0;
      }

      &__item:nth-child(4n+1) {
        margin-right: 0;
      }

      &__item:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .nominations {}

  .application {}
}