* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--white-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::placeholder {
  user-select: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  height: 100%;
}

li {
  list-style: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #10110D;
  -webkit-text-fill-color: #fff;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: local("Inter-Regular"), url("./fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: local("Inter-Regular"), url("./fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-display: swap;
  font-family: NeutralFace;
  src: local("NeutralFaceRegular"), url("./fonts/NeutralFaceRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: NeutralFace;
  src: local("NeutralFaceRegular"), url("./fonts/NeutralFaceRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: NeutralFace;
  src: local("NeutralFaceBold"), url("./fonts/NeutralFaceBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: NeutralFace;
  src: local("NeutralFaceBold"), url("./fonts/NeutralFaceBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}

picture img {
  width: 100%;
  display: block;
}

:root {
  --main-color: #10110D;
  --white-color: #FFFFFF;
  --red-color: #EA6143;
  --red-color-hover: #D05034;
  --red-color-press: #C5553D;
  --green-color: #187437;
  --color-gray1: #1E1F1C;
  --color-gray2: #333531;
  --color-gray3: #878886;
  --color-gray4: #F0F0F0;
  --base-transition: all .4s ease;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  padding: 16px 30px;
  border-radius: 600px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  transition: var(--base-transition);
  border: none;
}

.red-btn {
  color: #10110D;
  background: #EA6143;
  border: none;

  &:hover {
    background: var(--red-color-hover);
  }

  &:active {
    background: #C5553D;
  }
}

.black-btn {
  color: var(--white-color);
  background: var(--main-color);
  border: 1px solid #FFFFFF;

  &:hover {
    color: #10110D;
    background: var(--white-color);
  }

  &:active {
    background: var(--color-gray4);
  }
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background: #3D3D3D;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  opacity: 0.6;

  &.active {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red-color);
  border-radius: 2px;
  border: px solid var(--red-color);
}



.toTop {
  width: 36px;
  height: 64px;
  background: #333531;
  border-radius: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12px;
  cursor: pointer;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 50px;
  right: 50px;
  transition: var(--base-transition);
  z-index: 18;

  &._show {
    opacity: 1;
    visibility: visible;
  }

  .scroll-up {
    width: 14px;
    height: 17px;
    display: block;
  }
}

@media screen and (max-width: 1349px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }

  .btn {
    font-size: 16px;
    line-height: 130%;
  }

  .no-scroll {
    padding-right: 0;
  }
}

@media screen and (max-width: 479px) {}